<div class="header-bar">
    <h2 class="title">
        <img src="assets/icons/money.svg" alt="Banco icon" class="icon-title" /> BANCO
    </h2>
    <div class="actions">
        <input [formControl]="searchControl" placeholder="Buscar" class="form-control search-box" />

        <button class="btn btn-primary create-btn" (click)="openCreateModal()">
        Agregar
        </button>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de reestructuración</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of (filteredProducts$ | async)?.slice(0, itemsPerPage)">
            <td><img src="{{ product.logo }}" alt="Logo" class="icon-title icon-title-logo" /></td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_release | date: 'MM/dd/yyyy' }}</td>
            <td>{{ product.date_revision | date: 'MM/dd/yyyy' }}</td>
            <td class="action-menu-cell">
                <div class="context-menu-container" (click)="toggleMenu(product.id)">
                    ⋮
                    <ul *ngIf="openedMenuId === product.id" class="context-menu">
                        <li (click)="openEditModal(product)">Editar</li>
                        <li (click)="onDeleteClick(product)">Eliminar</li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                Mostrando {{ filteredCount > itemsPerPage ? itemsPerPage : filteredCount }} de {{ filteredCount }} resultado{{ filteredCount === 1 ? '' : 's' }}
            </td>
            <td>
                <select [(ngModel)]="itemsPerPage" class="form-select" style="width: auto">
                  <option [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="20">20</option>
                </select>
            </td>
        </tr>
    </tfoot>
</table>

<app-confirm-delete-modal *ngIf="confirmingProduct" [productName]="confirmingProduct.name" (confirmed)="onConfirmDelete($event)">
</app-confirm-delete-modal>

<app-product-form-modal *ngIf="showFormModal" [product]="editingProduct" (submitted)="onFormSubmitted()" (cancelled)="onFormCancelled()">
</app-product-form-modal>